step-functions/rag_pipeline.asl.json
{
  "Comment": "HashiCorp RAG pipeline: CodeBuild ingestion -> Kendra sync -> validation",
  "StartAt": "Init",
  "States": {
    "Init": {
      "Type": "Pass",
      "Parameters": {
        "kendra_index_id.$": "$.kendra_index_id",
        "kendra_data_source_id.$": "$.kendra_data_source_id",
        "bucket_name.$": "$.bucket_name",
        "repo_url.$": "$.repo_url",
        "region.$": "$.region",
        "pipeline_target.$": "$.pipeline_target",
        "validationQueries": [
          { "topic": "terraform-provider", "query": "How do I configure the AWS provider in Terraform?" },
          { "topic": "vault",              "query": "How do I generate dynamic database credentials using HashiCorp Vault?" },
          { "topic": "consul",             "query": "How do I set up mTLS between services using Consul Connect?" },
          { "topic": "nomad",              "query": "How do I define a Nomad job specification for a Docker container?" },
          { "topic": "sentinel",           "query": "How do I write a Sentinel policy to restrict resource creation in Terraform?" },
          { "topic": "packer",             "query": "How do I build an AMI with Packer using an HCL template?" },
          { "topic": "terraform-module",   "query": "What is the structure of a reusable Terraform module?" },
          { "topic": "github-issue",       "query": "What are common issues when upgrading the Terraform AWS provider?" },
          { "topic": "discuss-thread",     "query": "How do I troubleshoot Terraform state locking errors?" },
          { "topic": "blog-post",          "query": "What new features were announced for HashiCorp products?" }
        ]
      },
      "Next": "StartBuild"
    },

    "StartBuild": {
      "Type": "Task",
      "Resource": "arn:aws:states:::codebuild:startBuild.sync",
      "Parameters": {
        "ProjectName": "${codebuild_project_name}",
        "EnvironmentVariablesOverride": [
          { "Name": "RAG_BUCKET",        "Value.$": "$.bucket_name",       "Type": "PLAINTEXT" },
          { "Name": "REPO_URL",          "Value.$": "$.repo_url",          "Type": "PLAINTEXT" },
          { "Name": "PIPELINE_TARGET",   "Value.$": "$.pipeline_target",   "Type": "PLAINTEXT" }
        ]
      },
      "ResultPath": "$.buildResult",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 30,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "BuildFailed",
          "ResultPath": "$.error"
        }
      ],
      "Next": "StartSync"
    },

    "BuildFailed": {
      "Type": "Fail",
      "Error": "CodeBuildFailed",
      "Cause": "CodeBuild project failed after retries — check CloudWatch Logs for details."
    },

    "StartSync": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:kendra:startDataSourceSyncJob",
      "Parameters": {
        "Id.$":      "$.kendra_data_source_id",
        "IndexId.$": "$.kendra_index_id"
      },
      "ResultPath": "$.syncResult",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "SyncFailed",
          "ResultPath": "$.error"
        }
      ],
      "Next": "WaitForSync"
    },

    "WaitForSync": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "ListSyncJobs"
    },

    "ListSyncJobs": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:kendra:listDataSourceSyncJobs",
      "Parameters": {
        "Id.$":      "$.kendra_data_source_id",
        "IndexId.$": "$.kendra_index_id"
      },
      "ResultPath": "$.syncStatus",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "SyncFailed",
          "ResultPath": "$.error"
        }
      ],
      "Next": "CheckHistoryPresent"
    },

    "CheckHistoryPresent": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.syncStatus.History[0]",
          "IsPresent": true,
          "Next": "CheckSyncStatus"
        }
      ],
      "Default": "WaitForSync"
    },

    "CheckSyncStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.syncStatus.History[0].Status",
          "StringEquals": "SUCCEEDED",
          "Next": "ValidateRetrieval"
        },
        {
          "Variable": "$.syncStatus.History[0].Status",
          "StringEquals": "INCOMPLETE",
          "Next": "ValidateRetrieval"
        },
        {
          "Variable": "$.syncStatus.History[0].Status",
          "StringEquals": "FAILED",
          "Next": "SyncFailed"
        },
        {
          "Variable": "$.syncStatus.History[0].Status",
          "StringEquals": "ABORTED",
          "Next": "SyncFailed"
        }
      ],
      "Default": "WaitForSync"
    },

    "SyncFailed": {
      "Type": "Fail",
      "Error": "KendraSyncFailed",
      "Cause": "Kendra data source sync job failed — check CloudWatch Logs for details."
    },

    "ValidateRetrieval": {
      "Type": "Map",
      "ItemsPath": "$.validationQueries",
      "ItemSelector": {
        "IndexId.$":   "$$.Execution.Input.kendra_index_id",
        "Topic.$":     "$$.Map.Item.Value.topic",
        "QueryText.$": "$$.Map.Item.Value.query"
      },
      "MaxConcurrency": 1,
      "Iterator": {
        "StartAt": "RunQuery",
        "States": {
          "RunQuery": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:kendra:query",
            "Parameters": {
              "IndexId.$":   "$.IndexId",
              "QueryText.$": "$.QueryText"
            },
            "ResultPath": "$.queryResult",
            "Retry": [
              {
                "ErrorEquals": ["Kendra.ThrottlingException", "States.TaskFailed"],
                "IntervalSeconds": 5,
                "MaxAttempts": 5,
                "BackoffRate": 2
              }
            ],
            "End": true
          }
        }
      },
      "ResultPath": "$.validationResults",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "ValidationFailed",
          "ResultPath": "$.error"
        }
      ],
      "Next": "PipelineComplete"
    },

    "ValidationFailed": {
      "Type": "Fail",
      "Error": "KendraQueryFailed",
      "Cause": "Kendra validation queries failed — check CloudWatch Logs for details."
    },

    "PipelineComplete": {
      "Type": "Pass",
      "Parameters": {
        "status": "SUCCEEDED",
        "kendra_index_id.$":       "$.kendra_index_id",
        "kendra_data_source_id.$": "$.kendra_data_source_id",
        "sync_execution_id.$":     "$.syncResult.ExecutionId"
      },
      "End": true
    }
  }
}
